{{#view "form-fields/form-section" sectionTitle="Order information" model=view.model creditableOrders=view.creditableOrders}}
	{{view "form-fields/select-form-field"
		model=view.model
		content=view.creditableOrders
		value=view.model.order
		labelText="Select one"
		optionValuePath="content"
		optionLabelPath="content.page_title"
		name="order"
		field="order"
		prompt="Select an order"
	}}
{{/view}}

{{#view "form-fields/form-section" fundingInstruments=view.fundingInstruments model=view.model sectionTitle="Payment method"}}

	{{#if view.parentView.isDisplayExistingFundingInstruments}}
		{{view "form-fields/select-form-field"
			model=view.model
			content=view.fundingInstruments
			value=view.model.destination
			labelText="Select one"
			optionValuePath="content"
			optionLabelPath="content.description_with_type"
			name="destination"
			field="destination"
			explanationText=view.parentView.nameOnAccountText
		}}
	{{else}}
		{{view "form-fields/text-form-field" model=view.model field="name" labelText="Card holder's name" inputClassNames="full"}}
		{{view "form-fields/credit-card-number-form-field" model=view.model field="number" labelText="Card number"}}
		{{view "form-fields/text-form-field" model=view.model field="cvv" labelText="Security code" tooltipTitle="Where is the security code?" tooltipContent='<img src="images/credit-card-instructions.png" alt="Credit Card Instructions" class="modal-informational-content"/>'}}
		{{view "form-fields/credit-card-expiration-date-form-field"
			model=view.model
			field="expiration_date"
			labelText="Expiration date"
			name="expiration_date"
		}}
		{{view "form-fields/text-form-field" model=view.model field="postal_code" labelText="Billing zip code" explanationText="Required for American Express cards"}}
	{{/if}}
{{/view}}

{{#view "form-fields/form-section" model=view.model sectionTitle="Credit information"}}
	{{view "form-fields/amount-form-field" model=view.model field="dollar_amount" labelText="Amount" explanationText=view.parentView.orderBalanceText}}

	{{view "form-fields/statement-descriptor-text-form-field"
		model=view.model
		field="appears_on_statement_as"
		maxlength=view.parentView.appearsOnStatementAsMaxLength
	}}

	{{view "form-fields/text-form-field" model=view.model field="credit_description" labelText="Internal description" maxlength=Constants.MAXLENGTH.DESCRIPTION inputClassNames="full"}}
{{/view}}

{{#view "form-fields/form-section" sectionTitle="Note"}}
	<div class="form-group">
		<p>Funds will appear in the bank account by the next business day. First time credits to new accounts may take 3-5 business days.</p>
	</div>
{{/view}}
