{{#view "form-fields/form-section" fundingInstruments=view.fundingInstruments model=view.model sectionTitle="Payment method"}}
	{{view "form-fields/static-text-form-field"
		labelText="From"
		value=view.parentView.fromText
	}}

	{{view "form-fields/radio-form-field" labelText="To" options=view.parentView.recipients model=view.parentView field="recipientKey"}}

	{{#if view.fundingInstruments}}
		{{view "form-fields/select-form-field"
			model=view.model
			content=view.fundingInstruments
			value=view.model.destination
			labelText="Payment method"
			optionValuePath="content"
			optionLabelPath="content.description_with_type"
			name="destination"
			field="destination"
			explanationText=view.parentView.nameOnAccount
			prompt="Select one"
		}}
	{{else}}
		<div class="form-group">
			<p>This customer doesn't have any payment method to credit.</p>
		</div>
	{{/if}}
{{/view}}
{{#view "form-fields/form-section" model=view.model sectionTitle="Credit information" sectionDescription="Funds will appear in the bank account by the next business day. First time credits to new accounts may take 3-5 business days."}}
	{{view "form-fields/amount-form-field" model=view.model field="dollar_amount" labelText="Amount"}}

	{{view "form-fields/statement-descriptor-text-form-field"
		model=view.model
		field="appears_on_statement_as"
		maxlength=view.parentView.appearsOnStatementAsMaxLength
	}}

	{{view "form-fields/text-form-field" model=view.model field="description" labelText="Internal description" maxlength=Constants.MAXLENGTH.DESCRIPTION inputClassNames="full"}}
{{/view}}
