<thead>
	<tr>
		<th class="col-md-5 transaction">
			<span>Transaction</span>
		</th>
		<th class="col-md-2 payment-method">
			<span>From</span>
		</th>
		<th class="col-md-2 payment-method">
			<span>To</span>
		</th>
		<th class="col-md-2 amount num">
			<span>Amount</span>
		</th>
	</tr>
</thead>

<tbody>
	{{#if view.transaction}}
		<tr>
			<td class="grouped-transactions-container" {{bind-attr colspan="view.colspan"}}>
				{{#view "results/grouped-transactions-table" embedded=true}}
					{{#if view.parentView.transaction.dispute}}
						{{view "results/grouped-transaction-row" item=view.parentView.transaction.dispute embedded=true}}
					{{/if}}

					{{#if view.parentView.transaction.refunds}}
						{{#each refund in view.parentView.transaction.refunds}}
							{{view "results/grouped-transaction-row" item=refund embedded=true}}
						{{/each}}
					{{/if}}

					{{#if view.parentView.transaction.reversals}}
						{{#each reversal in view.parentView.transaction.reversals}}
							{{view "results/grouped-transaction-row" item=reversal embedded=true}}
						{{/each}}
					{{/if}}

					{{#if view.parentView.transaction.debit}}
						{{#if view.parentView.transaction.debit.dispute}}
							{{view "results/grouped-transaction-row" item=view.parentView.transaction.debit.dispute embedded=true}}
						{{/if}}
						{{view "results/grouped-transaction-row" item=view.parentView.transaction.debit embedded=true}}
					{{/if}}

					{{#if view.parentView.transaction.credit}}
						{{view "results/grouped-transaction-row" item=view.parentView.transaction.credit embedded=true}}
					{{/if}}

					{{view "results/grouped-transaction-row" item=view.parentView.transaction class="current" embedded=true}}

					{{#if view.parentView.transaction.transaction}}
						{{view "results/grouped-transaction-row" item=view.parentView.transaction.transaction embedded=true}}
						{{view "results/grouped-transaction-row" item=view.parentView.transaction.transaction.hold embedded=true}}
					{{/if}}

					{{#if view.parentView.transaction.hold}}
						{{view "results/grouped-transaction-row" item=view.parentView.transaction.hold embedded=true}}
					{{/if}}
				{{/view}}
			</td>
		</tr>
	{{else}}
		<tr>
			<td {{bind-attr colspan="view.colspan"}} class="no-results">
				{{#if view.transaction.isLoaded}}
					No transactions
				{{else}}
					Loading...
				{{/if}}
			</td>
		</tr>
	{{/if}}
</tbody>
