<thead>
	<tr>
		<th class="col-md-5 transaction">
			<span>Order</span>
		</th>
		<th class="col-md-2 payment-method">
			<span>From</span>
		</th>
		<th class="col-md-2 payment-method">
			<span>To</span>
		</th>
		<th class="col-md-2 amount num">
			<span>Amount</span>
		</th>
	</tr>
</thead>
{{#if view.loader.results.hasNextPage}}
	{{view "results/results-load-more" results=view.loader.results columns=view.colspan}}
{{/if}}

<tbody>
	{{#each transaction in view.filteredResults}}
		<tr>
			{{#if transaction.order}}
				<td class="grouped-transactions-container nested" {{bind-attr colspan="view.colspan"}}>
					{{#view "results/grouped-transactions-table" embedded=true}}
						{{view "results/grouped-order-row" item=transaction.order embedded=true}}
					{{/view}}
					{{#view "results/grouped-transactions-table" embedded=view.embedded}}
						{{#if transaction.dispute}}
							{{view "results/grouped-transaction-row" item=transaction.dispute embedded=true}}
						{{/if}}

						{{#if transaction.refunds}}
							{{#each refund in transaction.refunds}}
								{{view "results/grouped-transaction-row" item=refund embedded=true}}
							{{/each}}
						{{/if}}

						{{#if transaction.reversals}}
							{{#each reversal in transaction.reversals}}
								{{view "results/grouped-transaction-row" item=reversal embedded=true}}
							{{/each}}
						{{/if}}

						{{view "results/grouped-transaction-row" item=transaction embedded=true}}

						{{#if transaction.transaction}}
							{{view "results/grouped-transaction-row" item=transaction.transaction}}
						{{/if}}

						{{#if transaction.hold}}
							{{view "results/grouped-transaction-row" item=transaction.hold embedded=true}}
						{{/if}}
					{{/view}}
			{{else}}
				<td class="ungrouped-transactions-container" {{bind-attr colspan="view.colspan"}}>
					{{#view "results/grouped-transactions-table" embedded=view.embedded}}
						{{#if transaction.dispute}}
							{{view "results/grouped-transaction-row" item=transaction.dispute embedded=true}}
						{{/if}}

						{{#if transaction.refunds}}
							{{#each refund in transaction.refunds}}
								{{view "results/grouped-transaction-row" item=refund embedded=true}}
							{{/each}}
						{{/if}}

						{{#if transaction.reversals}}
							{{#each reversal in transaction.reversals}}
								{{view "results/grouped-transaction-row" item=reversal embedded=true}}
							{{/each}}
						{{/if}}

						{{view "results/grouped-transaction-row" item=transaction embedded=true}}

						{{#if transaction.transaction}}
							{{view "results/grouped-transaction-row" item=transaction.transaction}}
						{{/if}}

						{{#if transaction.hold}}
							{{view "results/grouped-transaction-row" item=transaction.hold embedded=true}}
						{{/if}}
					{{/view}}
				</td>
			{{/if}}
		</tr>
	{{else}}
		<tr>
			<td {{bind-attr colspan="view.colspan"}} class="no-results">
				{{#if view.loader.results.isLoaded}}
					No transactions
				{{else}}
					Loading...
				{{/if}}
			</td>
		</tr>
	{{/each}}
</tbody>
