<td {{bind-attr class="view.routeName :status :two-lines"}}>
	{{#link-to view.routeName view.item}}
		<span {{bind-attr class="view.isBlank:sl-none view.spanClassNames"}}>
			{{view.displayValue}}
		</span>
	{{/link-to}}
</td>
{{#unless view.embedded}}
	<td class="customer two-lines">
		{{#link-to view.routeName view.item}}
			<span {{bind-attr class="view.spanClassNames"}}>
				{{view.customerText}}
			</span>
		{{/link-to}}
	</td>
{{/unless}}
{{#unless view.hideFromColumn}}
	<td class="payment-method">
		{{#link-to view.routeName view.item}}
			<span {{bind-attr class="view.spanClassNames"}}>
				{{view.paymentMethodFromText}}
			</span>
		{{/link-to}}
	</td>
{{/unless}}
{{#unless view.hideToColumn}}
	<td class="payment-method">
		{{#link-to view.routeName view.item}}
			<span {{bind-attr class="view.spanClassNames"}}>
				{{view.paymentMethodToText}}
			</span>
		{{/link-to}}
	</td>
{{/unless}}
<td class="amount num two-lines">
	{{#link-to view.routeName view.item}}
		<span {{bind-attr class="view.spanClassNames"}}>
			{{view.amountText}}
		</span>
	{{/link-to}}
</td>
