<thead>
	<tr>
		<th class="col-md-4">
			{{view "results/settlements-transaction-results-dropdown-filter"}}
		</th>
		<th class="col-md-2 account"><span>Customer</span></th>
		<th class="col-md-2 funding-instrument"><span>Payment method</span></th>
		<th class="col-md-2 funding-instrument"><span></span></th>
		<th class="col-md-2 amount num has-filter">
			{{#view "results/results-loader-sort-column-header" resultsLoader=view.loader field="amount" actionName="changeDisputesSort"}}
				<span>Amount</span>
			{{/view}}
		</th>
	</tr>
</thead>

{{#if view.loader.results.hasNextPage}}
	{{view "results/results-load-more" results=view.loader.results columns=view.colspan}}
{{/if}}

<tbody>
	{{#each settlement in view.loader.results}}
		<tr>
			<td class="grouped-transactions-container" colspan="5">
				{{#view "results/grouped-transactions-table"}}
					{{view "results/grouped-settlement-row" item=settlement}}
				{{/view}}
			</td>
		</tr>
	{{else}}
		<tr>
			<td colspan="5" class="no-results">
				{{#if view.loader.results.isLoaded}}
					No settlements
				{{else}}
					Loading...
				{{/if}}
			</td>
		</tr>
	{{/each}}
</tbody>
