<thead>
	<tr>
		<th class="col-md-6"><span>Transaction</span></th>
		{{#unless view.embedded}}
			<th class="col-md-2"><span>Customer</span></th>
		{{/unless}}
		<th class="col-md-3"><span>Payment method</span></th>
		<th class="col-md-3 num"><span>Amount</span></th>
	</tr>
</thead>
{{#if view.loader.results.hasNextPage}}
	{{view "results/results-load-more" results=view.loader.results columns=view.colspan}}
{{/if}}

<tbody>
	{{#each order_group in view.groupedResults}}
		<tr>
			<td class="grouped-transactions-container nested" {{bind-attr colspan="view.colspan"}}>
				{{#view "results/grouped-transactions-table" embedded=view.embedded}}
					{{view "results/grouped-transaction-row" item=order_group.order embedded=view.embedded}}
				{{/view}}
				{{#view "results/grouped-transactions-table" embedded=view.embedded}}
					{{#each transaction in order_group.transactions}}
						{{view "results/grouped-transaction-row" item=transaction embedded=view.embedded}}

						{{#if transaction.reversals}}
							{{#each reversal in transaction.reversals}}
								{{view "results/grouped-transaction-row" item=reversal embedded=view.embedded}}
							{{/each}}
						{{/if}}
					{{/each}}
				{{/view}}
			</td>
	{{else}}
		<tr>
			<td {{bind-attr colspan="view.colspan"}} class="no-results">
				{{#if view.loader.results.isLoaded}}
					No transactions
				{{else}}
					Loading...
				{{/if}}
			</td>
		</tr>
	{{/each}}
</tbody>
