<div class="page-navigation">
	<h1 class="page-title">
		{{pageTitle}}
	</h1>
</div>
<div id="overview">
	{{view Balanced.DateFilterHeaderView}}

	<ul class="nav-tabs">
		<li {{bind-attr class=":active"}}>Payments</li>
		<li {{bind-attr class=""}}>Cards</li>
		<li {{bind-attr class=""}}>Disputes</li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane">
			<div class="body-panel clearfix">
				{{view Balanced.LineChartWithLegendView data=controller.totalVolume}}
			</div>

			<div class="body-panel clearfix">
				{{view Balanced.LineChartWithLegendView data=controller.transactionsCount}}
			</div>

			<div class="body-panel clearfix">
				<div class="panel side-panel span11">
					<h3>Average transaction size</h3>
				</div>

				<div class="panel span12">
					{{view Balanced.VerticalBarChartView data=verticalBarChartData}}
				</div>
			</div>
		</div>
		<div class="tab-pane">
			<div class="body-panel clearfix">
				<div class="panel side-panel span11">
					<h3>Total card volume</h3>
				</div>

				<div class="panel span12">
					{{view Balanced.HorizontalBarChartView data=horizontalBarChartData}}
				</div>
			</div>
		</div>
	</div>
</div>
