<div class="page-navigation">
	<h1 class="page-title">
		{{pageTitle}}
	</h1>
</div>
<div id="overview">
	{{view Balanced.DateFilterHeaderView}}

	{{view Balanced.LineChartView}}
	{{view Balanced.HorizontalBarChartView}}
	{{view Balanced.VerticalBarChartView}}
</div>
