<div class="page-navigation">
	<h1 class="page-title">
		{{pageTitle}}
	</h1>
</div>
<div id="overview">
	{{view Balanced.DateFilterHeaderView}}

	<div class="body-panel clearfix">
		{{view Balanced.LineChartWithLegendView chartName="totalVolume"}}
	</div>

	<div class="body-panel clearfix">
		{{view Balanced.LineChartWithLegendView chartName="transactionsCount"}}
	</div>

	{{view Balanced.HorizontalBarChartView data=horizontalBarChartData}}
	{{view Balanced.VerticalBarChartView data=virticalBarChartData}}
</div>
