<div class="page-navigation">
	<h1 class="page-title">
		{{pageTitle}}
	</h1>
</div>
<div id="overview">
	{{view Balanced.DateFilterHeaderView}}

	{{view Balanced.LineChartView data=lineChartData}}
	{{view Balanced.HorizontalBarChartView data=horizontalBarChartData}}
	{{view Balanced.VerticalBarChartView data=virticalBarChartData}}
</div>
