<div class="page-navigation">
	<h1 class="page-title">
		{{pageTitle}}
	</h1>
</div>
<div id="overview">
	{{view Balanced.DateFilterHeaderView}}

	<ul class="nav-tabs">
		<li {{bind-attr class=":active"}}>Payments</li>
		<li {{bind-attr class=""}}>Cards</li>
		<li {{bind-attr class=""}}>Disputes</li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane">
			{{#view Balanced.BodyPanelView}}
				{{view Balanced.LineChartWithLegendView data=controller.totalVolume}}
			{{/view}}

			{{#view Balanced.BodyPanelView}}
				{{view Balanced.LineChartWithLegendView data=controller.transactionsCount}}
			{{/view}}

			{{#view Balanced.BodyPanelView}}
				{{#view Balanced.SidePanelView model=model}}
					<h3>Average transaction size</h3>
				{{/view}}
				{{#view Balanced.MainPanelView}}
					{{view Balanced.VerticalBarChartView data=verticalBarChartData}}
				{{/view}}
			{{/view}}
		</div>
		<div class="tab-pane">
			{{#view Balanced.BodyPanelView}}
				{{#view Balanced.SidePanelView model=model}}
					<h3>Total card volume</h3>
				{{/view}}
				{{#view Balanced.MainPanelView}}
					{{view Balanced.HorizontalBarChartView data=horizontalBarChartData}}
				{{/view}}
			{{/view}}
		</div>
	</div>
</div>
