{{#view "page-navigations/page-navigation" pageType=model.type_name title=model.title_description}}
	{{#unless model.isRemoved}}
		<div class="buttons page-actions">
			{{#if model.can_debit}}
				<a class="btn debit-button" {{action "openModal" "modals/debit-funding-instrument-modal" model}}>Debit</a>
			{{else}}
				{{#view "popover" class="sl-none" data-trigger="hover" data-placement="bottom" data-original-title="Can't debit this bank account" data-content="You must verify this bank account to debit from it."}}
					<a class="btn disabled" disabled="disabled">Debit</a>
				{{/view}}
			{{/if}}

			{{#if model.can_credit}}
				{{#if model.customer}}
					{{#if model.customer.hasCreditableOrders}}
						<a class="btn" {{action "openModal" "modals/credit-customer-modal" model.customer}}>Credit</a>
					{{else}}
						{{#view "popover" class="sl-none" data-trigger="hover" data-placement="bottom" data-original-title="Can't credit this bank account" data-content="The customer of this bank account does not have any active orders as a merchant."}}
							<a class="btn disabled" disabled="disabled">Credit</a>
						{{/view}}
					{{/if}}
				{{/if}}

				<div class="dropdown right">
					<a class="btn secondary ellipsis dropdown-toggle" data-toggle="dropdown" href="#">
						<span>•••</span>
					</a>
					<ul class="dropdown-menu right">
						<li>
							<a class="credit-button" {{action "openModal" "modals/credit-funding-instrument-modal" model}}>
								Create a one-off credit
							</a>
						</li>
					</ul>
				</div>
			{{/if}}
		</div>
	{{/unless}}
{{/view}}

{{#view "detail-views/body-panel"}}
	{{#view "detail-views/api-model-panel" model=model}}
		{{view detail-views/summary-sections/bank-account-summary-section model=model}}
		{{view detail-views/description-lists/bank-account-titled-key-values-section model=model}}
		{{view "meta-list" type=model}}
	{{/view}}

	{{#view "detail-views/main-panel"}}
		<h3>Payments</h3>
		<div class="results">
			{{view "results/transactions-table-grouped-by-order" loader=transactionsResultsLoader hideCustomerColumn=true}}
		</div>
		<h3>Logs</h3>
		<div class="results">
			{{view "resource-logs" content=model}}
		</div>

		<h3>Events</h3>
		<div class="results">
			{{view "resource-events" content=model}}
		</div>
	{{/view}}
{{/view}}
